/*=========[ REWARDS ON HOMEPAGE ]=========*/
.dvRewards {
    background-color: #fefefe;
}
/*=========[ REWARDS ON HOMEPAGE ]=========*/

@media (min-width: 768px) {
    .dvRewards .img-container {
        display: none;
    }

    .dvRewards .bg-image {
        background: url('/src/assets/images/homepage/reward-section/rewards.jpg') no-repeat top right;
        background-size: contain;
    }
}